<div class="title">
    <h1>Viagem 1</h1>
</div>
<div class="main-content">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus itaque necessitatibus ab optio quos iusto tempora excepturi iste voluptates quibusdam nisi, aperiam earum soluta pariatur nam molestiae odit nihil eligendi?
    </p>
    <div class="image">
        <div>imagem</div>
    </div>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ipsam, illum dolor eveniet, consectetur ea placeat ipsum minus ut cupiditate quas a quam ipsa ullam? Molestias delectus neque qui dolore.
    </p>
</div>

