
<app-big-title></app-big-title>
<app-big-card></app-big-card>
<div class="small-card">
    <app-small-card
    imageSmallCard="src\app\images\download.jpg"
    titleSmallCard="title small card"
    ></app-small-card>

    <app-small-card
    imageSmallCard="src\app\images\download.jpg"
    titleSmallCard="title small card"
    ></app-small-card>

    <app-small-card
    imageSmallCard="src\app\images\download.jpg"
    titleSmallCard="title small card"
    ></app-small-card>
    
    <app-small-card
    imageSmallCard="src\app\images\download.jpg"
    titleSmallCard="title small card"
    ></app-small-card>
</div>
